<section id="frontpage">

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">

				<h1 class="margin-base-vertical">Вы хотите качественное образование?</h1>

				<p>
                    Доступно! Просто! Понятно!
				</p>
				<p>
                    Студенты, Школьники - Мы несем знания в массы!
				</p>

				<p>
					I want to know, have you ever seen the rain?
				</p>

				<form class="margin-base-vertical">
					<p class="input-group">
						<span class="input-group-addon"><span class="icon-envelope"></span></span>
						<input type="text" class="form-control input-lg" name="email" placeholder="jonsnow@knowsnothi.ng" />
					</p>
					<p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
					<p class="text-center">
						<button type="submit" class="btn btn-success btn-lg">Keep me posted</button>
					</p>
					</span>
				</form>
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

  <!--<%= render :partial => "layouts/explanation" %>-->

  <%= render partial: 'devise/sessions/form' %>

  <!--<%= render partial: 'frontpage/presentation' %>-->
</section></body>
