<section id="frontpage">
  alalal
  <!--<%= render :partial => "layouts/explanation" %>-->

  <%= render partial: 'devise/sessions/form' %>

  <!--<%= render partial: 'frontpage/presentation' %>-->
</section>
