<form class="infographics-upload-form" action="/infographics/upload">
    Название:<input type="text" id="name">
    Автор:<input type="text" id="author" value="StudyKIT">
    Описание: <input type="text" id="description" value="">
    Изображение: <input type="file" id="file" value="Загрузить изображение">
    Или <br>
    Видео: <input type="text" id="video" value="http://youtube.com/">

    <select type="text" id="category">
      <option id="1">Политика</option>
      <option id="2">Здоровье</option>
      <option id="3">Космос</option>
      <option id="4">Технологий</option>
      <option id="5">СМИ</option>
      <option id="6">Животные</option>
      <option id="7">Юристы</option>
      <option id="8">Экономика</option>
      <option id="9">Транспорт</option>
      <option id="10">Интересное</option>
      <option id="11">Еда</option>
      <option id="12">Наука</option>
    </select>
  <input type="submit" id="uploadInfographic" value="Загрузить">
</form>